.ant-layout-sider {
  height: 100vh;
}
.main-layout .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.ant-layout.css-dev-only-do-not-override-yp8pcc {
  width: 100vw;
}
