.room-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  margin-top: 20px;
  .ant-card-head {
    font-size: 20px;
    font-weight: 600;
  }
  .ant-card-body {
    font-size: 16px;
  }
}
